.theme(
@backcolor:#3f3f3f, // 一般背景颜色
@basebackcolor:#3f3f3f,//底层背景颜色
@bordercolor:#fff,  // 线颜色
@inputback:#fff, // 输入框背景颜色
@titlecolor:#fff,// 标题文字颜色
@textcolor:#fff,// 普通文字颜色
@fontcolor:#c8c8c8
){
    .primary-back{
        /*模块背景颜色*/
        background: @backcolor;
    }
    .base-back{
        /*底部背景颜色*/
        background: @basebackcolor;
    }
   
    .primary-color{
        color:@fontcolor
    }
    .bs-bottom-border{
        border-bottom: 1px solid @bordercolor;
    }
    .bs-input-back{
        background: @inputback;
    }
    .bs-title{
        color:@titlecolor !important
    }
    .bs-text{
        color:@textcolor
    }
    .ivu-select-dropdown{
        background: @backcolor;
    }
    
    

    
}