.theme(
@backcolor:#3f3f3f,
@basebackcolor:#3f3f3f,
@fontcolor:#c8c8c8,
@titlebordercolor:#000,
@backcolor2:#a5a5a5,
@butcolor:blue
){
    .primary-back{
        /*模块背景颜色*/
        background: @backcolor;
    }
    .base-back{
        /*底部背景颜色*/
        background: @basebackcolor;
    }
    .background-masker{
        background: @backcolor;
    }
    .primary-color{
        color:@fontcolor
    }

    
}