
// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小


.m-header{
    background: #fff;
    z-index: 10;
}
.main-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    .left-container{
        width: 60%;
    }
    .right-container{
        width: 40%;
        padding-left: 20px;
        box-sizing: border-box;
    }
}

@m-color1: #333; // 文章标题颜色
@m-color2: #969696; // 文章标题颜色